@using Vidly.Models

@model List<Movie>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>

@if (Model.Count > 0)
{
    <table class="table table-bordered table-hover">
        <thead class="thead-light">
            <tr>
                <th scope="col">Movie</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@movie.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>We don't have any movies yet.</p>
}
